server:
  port: 8091

spring:
  application:
    name: eventsourcing-cqrs-query
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:54320/query
    username: query
    password: query
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

axon:
  serializer:
    general: xstream
  axonserver:
    servers: localhost:8124

logging.level.io.wisoft.axon.query: debug
logging.level.org.axonframework: debug