server:
  port: 8090

spring:
  application:
    name: eventsourcing-cqrs-command
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:54320/command
    username: command
    password: command
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

axon:
  serializer:
    general: xstream
  axonserver:
    servers: localhost:8124

logging.level.io.wisoft.axon.command: debug
logging.level.org.axonframework: debug